:import {
  -st-from: "../IconButton.st.css";
  -st-default: TPAIconButton;
  -st-named: skin-line, skin-full;
}

.root {
  -st-mixin: TPAIconButton(
          IconColor '"color(--iconColor)"'
  );
}
